/*Testimonial 1*/

.testimonial1{
	height: 350px;
	width: 300px;
	border: 1px solid black;
	border-radius: 5px;

}

.testimonial1 p {
	margin: 30px;

}

.testimonial1 img {
	height: 75px;
	width: 75px;
	border-radius: 50%;
	z-index: 10;
	position: relative;
}

.testimonial1 div {
	text-align: center;
}

.testimonial1 h4 {
	margin-top: 10px;
}

.testimonial1 hr {
	position: relative;
	top: 35px;
}

/*Testimonial 2*/

.testimonial2{
	height: 350px;
	width: 300px;
	border: 1px solid black;
	border-radius: 5px;

}

.testimonial2 p {
	margin: 30px;

}

.testimonial2 img {
	height: 75px;
	width: 75px;
	border-radius: 50%;
	z-index: 10;
	position: relative;
}

.testimonial2 div {
	text-align: center;
}

.testimonial2 h4 {
	margin-top: 10px;
}

.testimonial2 hr {
	position: relative;
	top: 35px;
}

/*Testimonial 3*/

.testimonial3{
	height: 350px;
	width: 300px;
	border: 1px solid black;
	border-radius: 5px;

}

.testimonial3 p {
	margin: 30px;

}

.testimonial3 img {
	height: 75px;
	width: 75px;
	border-radius: 50%;
	z-index: 10;
	position: relative;
}

.testimonial3 div {
	text-align: center;
}

.testimonial3 h4 {
	margin-top: 10px;
}

.testimonial3 hr {
	position: relative;
	top: 35px;
}